
.idea/compiler.xml

.idea/vcs.xml

*.xml

.idea/.name

out/production/tda297-lab1/.idea/.name

out/production/tda297-lab1/estarter

out/production/tda297-lab1/localhostsetup

out/production/tda297-lab1/tda297-lab1.iml

tda297-lab1.iml
